
// $grid-breakpoints: (
//     xs: 0,
//     sm: 480px,
//     md: 640px,
//     lg: 992px,
//     xl: 1300px
//   );
//   $enable-rounded: false;
  
// $theme-colors: (
//   "dark": #001434,
//   "light": #d8dc96,
//   "muted": #d8dc96,
//   "white": #FFFFFF,

//   "primary": #7ca249,
//   "secondary": #d8d661,
//   "danger": #36ff40,
//   "success": #36ff40,
//   "warning": #36ff40,
//   "info": #36ff40
// );

$section-height:max(500px, 25vw);
// BS sass files
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

// Include any default variable overrides here (though functions won't be available)
$enable-negative-margins: true;
$theme-colors: (
  "primary":    $green,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "light-grey": $gray-200,
  );
  $link-color: $success;
  $nav-link-color:$link-color;
  $link-hover-color: darken($link-color, 25%);
  $nav-link-hover-color: $link-hover-color;
  
  $input-group-addon-color: $white;
  $input-group-addon-bg:$green;
  $component-active-bg: $link-color;
  $form-check-input-checked-bg-color: $component-active-bg;


  $accordion-button-active-bg: tint-color($component-active-bg, 90%);
  $accordion-button-active-color:shade-color($component-active-bg, 10%);
  $accordion-icon-color: $white;
  $accordion-icon-active-color: $white;

$header-max-height: 63px;
$green-hover-border: rgba($green, 0.5);
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'aos/dist/aos.css';


* {
    font-family: "Assistant", sans-serif;
  }
  
  body {
    // background-color: #f5f5f5;
  }  
  h1 {
    font-weight: 500 ;
  }
  
  h3 {
    font-weight: 100;
  }
  
  .preview section.hero,
  .proof section.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=3&w=1024");
    background-size: cover;
    color: white;
    padding: 0px;
    transition: .12s box-shadow;
    position: relative;
  }
  .preview section.hero:hover {
    box-shadow: 0px 0px 0px 10px $green inset;
  }
  
  section.hero > .row {
    min-height: $section-height;
    align-content: center;
    /* backdrop-filter: blur(150px); */
    background-color: rgba(0, 0, 0, 0.13);
  }
  
section.content .h1{
  font-size: max(2rem, 2vw);
  // margin-top:max(2rem, 3vw);
}
section.content .h2{
  font-size: max(1.75rem, 1.65vw) !important;
  // margin-top:max(2rem, 3vw);
}
section.content .h3{
  font-size: max(1rem, 1.5vw);
}

section.content .h4{
  font-size: max(.75rem, 1.25vw);
}

section.content .h5{
  font-size: max(.65rem, 1vw);
}
section.content .h6{
  font-size: max(.5rem, 1vw);
}


section.content{
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

section.content > .row {
  min-height: $section-height;

  align-content: center;
  margin-left: 0;
  margin-right: 0;
}

section.content.tempframe{
  min-height: $section-height;
  color: rgba(0, 0, 0, 0.33);
  outline: 1px solid rgba(0, 0, 0, 0.13);
  background-color: rgba(0, 0, 0, 0.043);
  transition: .13s all ease-out;
  transition-delay: .42s;
  transition: .4s background-color ease-out;

  &:hover{
    outline: 1px solid $green-hover-border;
    color: rgba(0, 0, 0, 0.63);
    background-color:rgba(0, 0, 0, 0.13);
    outline: 1px solid $green-hover-border;

  }
  &:active{
    background-color: black;
    color: $green-hover-border;
    background-color: $green-hover-border;
    outline: 1px solid $green;

  }
}
section.content.tempframe .hover-text {
  display: none;
  // pointer-events: none;
}
section.content.tempframe:hover .hover-text{
    display: block;

}

section.stats{
  position: relative;
}

.layoutSelector .card{
  cursor: pointer;

}
  .card img {
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  .layoutSelector .card[data-checked] {
    border: 1px solid $green;
  }
  .layoutSelector .card:not([data-checked]):hover {
    border: 1px solid $green-hover-border;
  }
  .layoutSelector .card-body {
    padding: 0rem;
    padding-top:.5rem;
  }
  
  .scroll-row {
    overflow-x: auto;
    /* max-width: 70vw; */
    padding: 1em 0;
  }
  
  .scroll-row > .card {
    width: 300px;
    display: inline-block;
  }
  
  .builder ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(219, 219, 219);
  }
  
  .builder ::-webkit-scrollbar-thumb {
    background: #6d6d6c3a;
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.015);
  }
  
  .builder ::-webkit-scrollbar-corner {
    background: #000;
  }


  
  footer{
    min-height: max(550px, 35vw);
  }

  .placeholder{
    cursor: pointer;
  }

  .preview {
    scroll-behavior: smooth;
  }
  .preview > section:not(.preview) {
    // opacity: 1;
    animation: fade .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @keyframes fade {
    0% { opacity: 0.55 }
    100% { opacity: 1 }
  }


  .preview > section:hover {
      // outline: 5px solid $green;  
  }

  #builder-main{
    display: grid;
    grid-template-columns: [sidebar-start] max(15vw, 500px)  [canvas-start] auto;
    grid-template-rows: 1fr;
    height: calc(100vh - $header-max-height);

  }

  #builder-sidebar{
    padding: 2rem;
    position: sticky;
    top: $header-max-height;
    grid-column: sidebar-start;
    max-height: calc(100vh - $header-max-height);
    overflow-y: auto;


  }
  #builder-canvas{
    grid-column-start: canvas-start;
    overflow-y: auto;
  }
  

  #builderAccordion .accordion-item{
    background: transparent;
  }
  #builderAccordion .accordion-button {
    background-color:$light;
    font-size: 1rem;
    font-weight: bold;
    color: $black;
  }
  #builderAccordion .accordion-button.collapsed {
    // background-color: $white;
    // font-size: 1rem;
    color: $green;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }


  .toolbar{
    display: none;
    position: absolute;
    top:0;
    right:0;
    margin-right:0px;
    background: $light;
    z-index: 10;
    opacity:0;
    transition: .23s all ease-out;
    width: auto;
    

  }

.preview > section:hover .toolbar{
  display: inline-flex;
  opacity: 1;
}
.toolbar .toolbar-btn{
  padding: 8px 15px;
  background-color: $success;
  display: inline-flex;
  justify-content: center;
  
}
.toolbar .toolbar-btn:hover{
    background-color: $danger;
    animation: fade .5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .toolbar .toolbar-btn:active{
    background-color: $black;
  }

  